[{sasl, [
 {sasl_error_logger, {file, "system_log.txt"}},
 %% define the parameters of the rotating log
 %% the log file directory
 {error_logger_mf_dir,"./error_logs"},
         %% # bytes per logfile
 {error_logger_mf_maxbytes, 10485760}, % 10 MB
         %% maximum number of logfiles
 {error_logger_mf_maxfiles, 10}
]}].