body {  
      font-family: "微软雅黑";  
      color: white;  
      text-align: center;
	  padding: 0;
	  margin: 0;
	  background: url(../image/lg.jpg) fixed center center;
	  background-repeat: no-repeat;
	  background-attachment: fixed;	
}  

#container {
	width: 1246px;
	padding:15px;
	position: absolute;
	left: 10%;
	top:160px;
}

#gamehall {
	width: 60%;	
	opacity:0.7;
	background: url(../image/gh.jpg) fixed center center;
}
  
td.chessplayer {
 width:40px;
 height:40px;	
 padding:10px;
 background: url(../image/pep.png) fixed center center;
}

td.checkdeskimg {
 width:60px;
 height:60px;	
 padding:15px;	
}

.datalist {
 width:300px;
 background: green; 
}

.gamehall {
    width: 60%;  
    background: #FFFFFF;
	opacity:0.8; 	

}

.onlineuser {
 height:200px;	
}
  
td.tight {
 padding:15px;
}

tr.over td {
    background:#ff8040;  /*这个将是鼠标高亮行的背景background:#bcd4ec色*/
	cursor: pointer;
}
a{color:#ffffff;text-decoration:underline;font-size:18px;}
a:hover{text-decoration:unerline;}