body {  
      font-family: "微软雅黑";  
      color: blue;  
      text-align: center;
	  padding: 0;
	  margin: 0;
	  background: url(../image/hallbg2.png) fixed center center;
	  background-repeat: no-repeat;
	  background-attachment: fixed;	
}  

#container {
	width: 800px;
	position: absolute;
	left: 10%;
	top:20px;
}

  
td.chessplayer {
 width:40px;
 height:40px;	
 padding:10px;
 background: url(../image/pep.png) fixed center center;
}

td.checkdeskimg {
 width:60px;
 height:60px;	
 padding:15px;	
}

.datalist {
 width:270px;
 color:white;
 background: green; 
}

.gamehall {
    background: #FFFFFF;
	opacity:0.8; 
}

.onlineuser {
 height:200px;	
}
  
td.tight {
 padding:15px;
}

tr.over td {
    background:#ff8040;  /*这个将是鼠标高亮行的背景background:#bcd4ec色*/
	cursor: pointer;
}
