body {  
      font-family: "微软雅黑";  
      color: white;  
      text-align: center;
	  padding: 0;
	  margin: 0;
	  background: -moz-linear-gradient(-45deg, #183850 0, #183850 25%, #192c46 50%, #22254c 75%, #22254c 100%);
	  background: -webkit-linear-gradient(-45deg, #183850 0, #183850 25%, #192c46 50%, #22254c 75%, #22254c 100%);
	  background-repeat: no-repeat;
	  background-attachment: fixed;	
}  

#container {
	width: 800px;
}

#gamehall {
	width: 60%;	
    background: #66b3ff; 	
}
  
td.chessplayer {
 width:40px;
 height:40px;	
 padding:15px;
}

td.checkdeskimg {
 width:60px;
 height:60px;	
 padding:25px;	
}

.datalist {
 width:300px;
 background: green; 
}

.gamehall {
    width: 60%;  
    background: #66b3ff;  	
}

.onlineuser {
 height:200px;	
}
  
td.tight {
 padding:15px;
}

tr.over td {
    background:#ff8040;  /*这个将是鼠标高亮行的背景background:#bcd4ec色*/
	cursor: pointer;
}